<table >

    <% data.forEach((item)=>{
        %>
        <tr style="display-flex">
            <td>
                <div><%=item.name%></div>

            </td>
            <td>
                <img width="300", height="300" src="<%=item.url%>" />

            </td>

        </tr>
        <%})
        %>
</table>
    
